---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";
import { siteConfig } from "@/site-config";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-4">Heya, name's {siteConfig.author}!</h1>
		<p>
			I am a 19-year-old software developer from Germany with a great passion for web development
			and web design! 💻 I also love to do video editing and content creation through social media.
			📹
		</p>
	</section>
	<section aria-label="Social media links" class="mt-16">
		<h2 class="title mb-4 text-xl">Socials</h2>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Blog Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
			<li><a class="link" href="/blog/">See more</a></li>
		</ul>
	</section>
</PageLayout>
